<div class="banner">
  <!-- Textes Défillants - Script JS TYped -->
  <h2><span class="element"></span></h2>
  <!--SEARCH FORM INDEX-FOODS WITH QUERY ON NAME, RECIPE, PRIORITY FOR NAME WITH STRONGER QUERIES-->
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Pizza, Burger..." />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
  <!--BUTTON MORE INFOS-->
  <button type="button" class="btn-open-modal" data-bs-toggle="modal" data-bs-target="#myModal">
    +
  </button>
</div>

<div class="presentation">
  <h2>Recherchez vos recettes en passant par les catégories</h2>
  <div class="bar-category">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
    <% end %>
  </div>
</div>

<div class="display-foods">
  <h2>Découvrez nos quelques recettes les mieux notées</h2>
  <div class="grid-foods">
    <% @best_foods.each do |food| %>
      <div class="card-food">
        <% if food.photo.attached? %>
          <%= link_to cl_image_tag(food.photo.key), food_path(food) %>
        <% else %>
          <%= link_to image_tag("default-img.png"), food_path(food) %>
        <% end %>
        <div class="card-food-infos">
          <h3><%= link_to food.name, food_path(food) %></h3>
          <%#= LATER, ADD RATING ON BOTTOM-RIGHT WITH STARS %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="grid-foods">
    <div class="card-food-rating">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-food-rating-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-food-rating-pricing">£99.99</h2>
      </div>
    </div>
  </div>

<% @foods.first.ratings.average(:score).to_f.round(1) %>
 <!-- ADDITIONNAL CONTENT -->

 <!-- Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">En savoir plus sur EasyFood?<br>
          Voici un petit résumé</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          Texte
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <!-- Fin Modal -->

<script>
  var options = {
  strings: ["L'appli de recettes la <strong>plus utilisée</strong> dans le monde. ^2000",
  "Découvrez, créez et partagez vos recettes des 4 coins du monde en toute simplicité. ^2000",
  "Une communauté <strong>réactive</strong>. ^2000",
  "Rejoins nous dès maintenant. ^2000"],
  // ^1000 = 1kms = 1sc
  typeSpeed: 50,
  backspeed: 50,
  startDelay: 100,
  loop: true,
  loopCount: Infinity
  };
  var typed = new Typed('.element', options);
</script>
