<section class="details">
  <section class="img-name">
    <h2><%= @food.name %></h2>
    <% if @food.photo.attached? %>
      <%= cl_image_tag(@food.photo.key) %>
    <% else %>
      <%= image_tag("default-img.png") %>
    <% end %>
  </section>

  <h3>Recette</h3>
  <pre><p><%= @food.recipe %></p></pre>
</section>

<section class="new-rating">
  <button type="button" class="btn-modal-new-rating" data-bs-toggle="modal" data-bs-target="#myModal">
   Noter cette recette
  </button>
</section>


<section class="display-ratings">
  <h2>Note : <%= @avg_score %></h2>
  <% @f_ratings.each do |rating| %>
    <div class="card-comment">
      <span>
        <i class="fas fa-quote-left" aria-hidden="true"></i>
        <%= rating.comment %>
        <i class="fas fa-quote-right" aria-hidden="true"></i>
      </span>
      <span>
        <strong><%= rating.score  %> / 5
        <i class="fa fa-star"></i></strong>
        <i><%= rating.user.email %></i>
      </span>


    </div>
  <% end %>
</section>


<!-- ADDITIONNAL CONTENT -->
 <!-- Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ajoutez un commentaire et une note à cette recette</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-new-recipe">
            <%= simple_form_for [@food, @rating] do |f| %>
              <%= f.input :score, label: "Note", as: :radio_buttons,
                collection: [["1", 1, { class: "one-star" }],
                ['2', 2, { class: "two-stars", label: "test" }],
                ["3", 3, { class:"three-stars", label: "test" } ],
                ["4", 4, { class:"four-stars", label: "test" } ],
                ["5", 5, { class:"five-stars", label: "test" } ],] %>
              <%#= f.input :score, label: "Votre note de 0 à 5", step: "1", html5: true %>
              <%= f.input :comment, label: "Votre avis", as: :text, autofocus: true,
                    :input_html => {rows: 10 }, html5: true %>
              <%#= f.input :comment, label: "Votre avis", as: :rich_text_area, html5: true %>
              <%= f.submit "Publier", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 <!-- Fin Modal -->
