<div class="banner-show">
  <h2>Les <%= @category.name %></h2>
</div>

<div class="most-rated-foods">
  <h2>Les recettes <%= @category.name %> les mieux notées</h2>
  <div class="grid-foods">
    <% @category.foods.each do |food| %>
      <div class="card-food">
        <% if food.photo.attached? %>
          <%= link_to cl_image_tag(food.photo.key), food_path(food) %>
        <% else %>
          <%= link_to image_tag("default-img.png"), food_path(food) %>
        <% end %>
        <div class="card-food-infos">
          <h3><%= link_to food.name, food_path(food) %></h3>
          <%#= LATER, ADD RATING ON BOTTOM-RIGHT WITH STARS %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  SEARCH_FORM LATER
  <h2>Découvrez toutes les recettes présentes sur notre site</h2>
</div>
